<div ng-include="'components/navbar/navbar.html'"></div>

<h2>Add job</h2>
<div class="col-sm-12">
<form class="form" name="form" ng-submit="addJob()" novalidate>
  <div class="form-group">
    <label>Job name</label>
    <input type="text" name="name" class="form-control" ng-model="job.name" required>
  </div>
  <div class="form-group">
    <label>Job info</label>
    <input type="text" name="info" class="form-control" ng-model="job.info" required>
  </div>
  <div>
    <button class="btn btn-inverse btn-lg btn-login" type="submit">
      Submit job
    </button>
  </div>
</form>
