<h2>Add thing</h2>
<div class="col-sm-12">
<form class="form" name="form" ng-submit="" novalidate>
  <div class="form-group">
    <label>Thing name</label>
    <input type="text" name="name" class="form-control" ng-model="thing.name" required>
  </div>
  <div class="form-group">
    <label>Thing info</label>
    <input type="text" name="info" class="form-control" ng-model="thing.info" required>
  </div>
  <div>
    <button class="btn btn-inverse btn-lg btn-login" type="submit">
      Submit thing
    </button>
  </div>
</form>
