.Job_Form {
  position: absolute;
  top: 100px;
  padding-left: 150px;
  width: 1000px;
  color: #cccccc;
}

input, select, textarea{
    color: #f2f2f2;
}

textarea:focus, input:focus {
    color: #f2f2f2;
}